<?xml version="1.0" encoding="UTF-8"?>
<config>
    <author>菊花</author>
    <basePackage>com.youzan.beauty.spa</basePackage>
    <module>card</module>

    <!--数据库连接参数 目前只支持mysql-->
    <database>jdbc:mysql://localhost:3306/beauty?useSSL=false</database>
    <user>root</user>
    <password>mingle</password>

    <!--表-->
    <table>user_member_card</table>

    <!-- 数据库代码 包括DO,MAPPER,XML-->
    <dal>true</dal>
    <!--条件查询对象-->
    <query>true</query>
    <!--insert和update的参数-->
    <param>true</param>
    <!--DTO-->
    <dto>true</dto>
    <!--transutil-->
    <trans>true</trans>
</config>