<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- defaults.xml-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="DEBUG_LEVEL_REMAPPER" class="org.springframework.boot.logging.logback.LevelRemappingAppender">
        <destinationLogger>org.springframework.boot</destinationLogger>
    </appender>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.crsh.plugin" level="WARN"/>
    <logger name="org.crsh.ssh" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.jmx" additivity="false">
        <appender-ref ref="DEBUG_LEVEL_REMAPPER"/>
    </logger>
    <logger name="org.thymeleaf" additivity="false">
        <appender-ref ref="DEBUG_LEVEL_REMAPPER"/>
    </logger>

    <!-- console-appender.xml -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- file-appender.xml-->
    <appender name="ROOT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROOT_LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${rollingFileNamePatternForRoot}</fileNamePattern>
            <!-- each file should be at most 100MB -->
            <maxFileSize>${maxFileSize}</maxFileSize>
            <!-- keep 60 days' worth of history capped at 3GB total size -->
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${rollingFileNamePattern}</fileNamePattern>
            <!-- each file should be at most 100MB -->
            <maxFileSize>${maxFileSize}</maxFileSize>
            <!-- keep 60 days' worth of history capped at 3GB total size -->
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="FILE" />
    </appender>

    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${rollingFileNamePatternForError}</fileNamePattern>
            <!-- each file should be at most 100MB -->
            <maxFileSize>${maxFileSize}</maxFileSize>
            <!-- keep 60 days' worth of history capped at 3GB total size -->
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- youzan-sql.xml-->
    <contextName>${spring.application.name:-default}</contextName>

    <!-- Insert the current time formatted as "yyyy-MM-dd" under
       the key "byDay" into the logger context. This value will be
       available to all subsequent configuration elements. -->
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    <springProperty scope="context" name="springApplicationName" source="spring.application.name" defaultValue="default-app"/>
    <property name="APP_LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />
    <property name="APP_LOG_NAME" value="${springApplicationName}" />
    <property name="rollingFileNamePattern" value="${APP_LOG_PATH}/%d{yyyy-MM-dd}/${APP_LOG_NAME}-%d{yyyy-MM-dd}-%i.log.gz"/>
    <property name="LOG_FILE" value="${APP_LOG_PATH}/${APP_LOG_NAME}.log"/>
    <property name="rollingFileNamePatternForSql" value="${APP_LOG_PATH}/%d{yyyy-MM-dd}/sql-%d{yyyy-MM-dd}-%i.log.gz"/>
    <property name="SQL_LOG_FILE" value="${APP_LOG_PATH}/sql.log}"/>
    <property name="rollingFileNamePatternForRoot" value="${APP_LOG_PATH}/%d{yyyy-MM-dd}/root-%d{yyyy-MM-dd}-%i.log.gz"/>
    <property name="ROOT_LOG_FILE" value="${APP_LOG_PATH}/root.log}"/>
    <property name="rollingFileNamePatternForDubbo" value="${APP_LOG_PATH}/%d{yyyy-MM-dd}/dubbo-%d{yyyy-MM-dd}-%i.log.gz"/>
    <property name="DUBBO_LOG_FILE" value="${APP_LOG_PATH}/dubbo.log}"/>
    <property name="rollingFileNamePatternForError" value="${APP_LOG_PATH}/%d{yyyy-MM-dd}/error-%d{yyyy-MM-dd}-%i.log.gz"/>
    <property name="ERROR_LOG_FILE" value="${APP_LOG_PATH}/error.log}"/>
    <property name="maxHistory" value="60" />
    <property name="totalSizeCap" value="3GB" />
    <!-- each file should be at most 100MB -->
    <property name="maxFileSize" value="100MB" />
    <property name="queueSize" value="512" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROOT" />
        <appender-ref ref="ERROR" />
    </root>

    <logger name="com.youzan.beauty.spa" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="ERROR"/>
    </logger>
</configuration>